@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  font-family: 'Inter', sans-serif;
}

body {
  font-family: inherit;
}

/* Hide scrollbars */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none;
}

/* Hide scrollbar for IE/Edge */
* {
  -ms-overflow-style: none;
}
